* {
    margin: 0;
    padding: 0;
}

.gallery {
    display: grid;
    background-color: #333; 
    justify-content: center; /* Center the grid horizontally */
    margin: 0 auto; /* Center the container itself */
    max-width: 100%; /* Limit the container width */
}

.gallery img {
    margin: 20px 35px;
    width: 300px; /* La largeur prend toute la taille du conteneur */
    height: 300px; 
    object-fit: cover; 
    /* Couvre la zone tout en gardant les proportions */
    border-radius: 10px; /* Optionnel : pour arrondir les bords */
    border: 2px solid white;
}

h1 {
    text-align: center;
}